mat-form-field{
  margin-bottom: -1.25em;
}

.form {
  display: flex;
  justify-content: space-between;
  padding-right: 33%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.cadastro-telefone {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 220px;
  display: flex;
}

