mat-form-field{
  margin-bottom: -1.25em;
}

.form {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-right: 64px;
}

.cadastro-telefone {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 220px;
  display: flex;
}

.uf {
  width: 33%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
}

table {
  th {
    background-color: rgba(151, 151, 151, 0.376)
  }
  td {
    background-color: #EFEFEF;
  }
}
